# 可通过 shopify app env pull 获取
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SCOPES=customer_write_customers,customer_write_orders,read_all_cart_transforms,read_analytics,read_audit_events,read_cash_tracking,read_customer_events,read_markets,unauthenticated_read_content,unauthenticated_read_product_listings,unauthenticated_write_checkouts,unauthenticated_write_customers,write_assigned_fulfillment_orders,write_cart_transforms,write_content,write_customer_data_erasure,write_customer_merge,write_customers,write_delivery_customizations,write_discounts,write_draft_orders,write_files,write_fulfillment_constraint_rules,write_fulfillments,write_inventory,write_locations,write_marketing_events,write_merchant_managed_fulfillment_orders,write_metaobject_definitions,write_metaobjects,write_online_store_navigation,write_online_store_pages,write_orders,write_payment_terms,write_price_rules,write_product_listings,write_products,write_publications,write_reports,write_resource_feedbacks,write_returns,write_shipping,write_themes,write_third_party_fulfillment_orders
